/*
Theme Name: Mage Event
Theme URI: http://themeforest.net/user/magethemes/
Author: Mage Themes
Author URI: http://mage-themes.com/
Description: Event Wordpress theme
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: mage-event
Tags: one-column, custom-menu

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
/* 1. Imports & Clears */
.read-more-continue:after, .header ul.menu ul.sub-menu:after, .header ul.menu ul.children:after, .header ul ul.sub-menu:after, .header ul ul.children:after, .header div.menu ul ul.sub-menu:after, .header div.menu ul ul.children:after, .when:after, .where:after, .single-page .container:after, .event-topics .container:after, .event-speakers:after, .featured:after, .schedule ul:after, .day:after, .event:after, .event .event-info div:after, .bullets:after, .registration:after, .sponsors .container:after, .info:after, .social div.social-div:after, .page.type-page .post-meta:after, .page .type-post .post-meta:after, .page .type-speakers .post-meta:after, .page .type-topics .post-meta:after, .page .type-events .post-meta:after, .single-post.type-page .post-meta:after, .single-post .type-post .post-meta:after, .single-post .type-speakers .post-meta:after, .single-post .type-topics .post-meta:after, .single-post .type-events .post-meta:after, .single.type-page .post-meta:after, .single .type-post .post-meta:after, .single .type-speakers .post-meta:after, .single .type-topics .post-meta:after, .single .type-events .post-meta:after, .category.type-page .post-meta:after, .category .type-post .post-meta:after, .category .type-speakers .post-meta:after, .category .type-topics .post-meta:after, .category .type-events .post-meta:after, .search.type-page .post-meta:after, .search .type-post .post-meta:after, .search .type-speakers .post-meta:after, .search .type-topics .post-meta:after, .search .type-events .post-meta:after, .archive.type-page .post-meta:after, .archive .type-post .post-meta:after, .archive .type-speakers .post-meta:after, .archive .type-topics .post-meta:after, .archive .type-events .post-meta:after, .blog.type-page .post-meta:after, .blog .type-post .post-meta:after, .blog .type-speakers .post-meta:after, .blog .type-topics .post-meta:after, .blog .type-events .post-meta:after, .single-page-social:after, .mage_event_widget.widget_search:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  overflow: hidden; }

/* all default colors

#ea4c0f - orange, original color
#10a1d6 - light blue
#59cbe3 - blue
#95a5a5 - gray
#913d88 - purple
#c51330 - red
#eb7f9f - pink
#f39c11 - yellow
#1bbc9b - light green
#4daf7c - green

*/
/* Import wp.scss file */
.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  max-width: 100%;
  margin-bottom: 20px;
  color: #767676; }
  .wp-caption.alignleft {
    margin: 5px 10px 5px 0; }
  .wp-caption.alignright {
    margin: 5px 0 5px 10px; }
  .wp-caption.aligncenter {
    margin-top: 5px;
    margin-bottom: 5px; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0; }

.wp-caption-text {
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  margin: 9px 0;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.gallery-caption:before {
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.gallery-item:hover .gallery-caption {
  opacity: 1; }

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption,
.sticky .entry-date {
  display: block; }

.bypostauthor > article .fn:before {
  content: "\f408";
  margin: 0 2px 0 -2px;
  position: relative;
  top: -1px; }

.bypostauthor > article .fn:before {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal 16px/1 Genericons;
  text-decoration: inherit;
  vertical-align: text-bottom; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

.wp-post-image {
  max-width: 100%;
  height: auto; }

.entry-content p {
  margin-bottom: 20px; }

.single .entry-content h2, .single .entry-content h3, .single .entry-content h4, .single .entry-content h5, .single .entry-content h6, .single .post.type-post h2, .single .post.type-post h3, .single .post.type-post h4, .single .post.type-post h5, .single .post.type-post h6 {
  margin-bottom: 20px; }
.single .entry-content h3, .single .post.type-post h3 {
  font-weight: 300;
  font-size: 1.71429em; }
.single .entry-content h4, .single .post.type-post h4 {
  font-weight: 300;
  font-size: 1.5em; }
.single .entry-content h5, .single .entry-content h6, .single .post.type-post h5, .single .post.type-post h6 {
  font-weight: 300;
  font-size: 1.28571em; }

.entry-content ul, .entry-content ol, .post ul, .post ol {
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px; }
  .entry-content ul.post-meta, .entry-content ol.post-meta, .post ul.post-meta, .post ol.post-meta {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0; }
.entry-content p, .post p {
  line-height: 1.6em;
  margin-bottom: 15px; }
.entry-content ul, .post ul {
  list-style-type: disc; }
.entry-content ol, .post ol {
  list-style-type: decimal; }
.entry-content img, .post img {
  max-width: 100%;
  height: auto; }
  .entry-content img.alignleft, .post img.alignleft {
    margin-right: 10px; }
  .entry-content img.alignright, .post img.alignright {
    margin-left: 10px; }

.read-more-continue {
  margin: 20px 0 10px; }
  .read-more-continue a {
    color: #fff;
    text-decoration: none;
    text-transform: lowercase;
    padding: 10px;
    display: inline-block;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.14286em; }

.blog .blog-posts .post, .blog .blog-posts .type-post, .blog .blog-posts .post, .blog .blog-posts .type-post {
  border-bottom: 3px solid #f0f0f0;
  margin-bottom: 30px;
  padding-bottom: 20px; }
  .blog .blog-posts .post.sticky, .blog .blog-posts .type-post.sticky, .blog .blog-posts .post.sticky, .blog .blog-posts .type-post.sticky {
    border: 3px solid #f0f0f0;
    padding: 20px; }
  .blog .blog-posts .post h2, .blog .blog-posts .type-post h2, .blog .blog-posts .post h2, .blog .blog-posts .type-post h2 {
    text-transform: uppercase;
    margin-bottom: 10px; }
  .blog .blog-posts .post img.wp-post-image, .blog .blog-posts .type-post img.wp-post-image, .blog .blog-posts .post img.wp-post-image, .blog .blog-posts .type-post img.wp-post-image {
    margin-bottom: 20px; }

pre {
  white-space: pre-wrap; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px; }
  table td, table th {
    border: 1px solid #999;
    padding: .3em .6em; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/* natural box layout model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 2. Reset */
body, h1, h2, h3, h4, h5, h6, ul, li, form, div, p, ol, button, hr, blockquote {
  margin: 0;
  padding: 0; }

article, figure, footer, header, nav, section, details, summary {
  display: block; }

/* 3. General */
html {
  background: #fff; }

body {
  font: 14px "Open Sans", sans-serif;
  text-align: center;
  color: #000; }
  @media all and (max-width: 640px) {
    body {
      font-size: 13px; } }

h1, h2, h3 {
  margin-bottom: 30px;
  line-height: 1.1em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif; }

p, h4, h5, h6 {
  margin-bottom: 10px; }

input:focus, textarea:focus {
  outline: none; }

textarea {
  resize: none; }

h1, h2 {
  font-size: 5.14286em;
  font-weight: bold; }
  @media all and (max-width: 1180px) {
    h1, h2 {
      font-size: 4.57143em; } }
  @media all and (max-width: 940px) {
    h1, h2 {
      font-size: 4em; } }
  @media all and (max-width: 780px) {
    h1, h2 {
      font-size: 3.42857em; } }
  @media all and (max-width: 480px) {
    h1, h2 {
      font-size: 2.85714em; } }

h2 {
  font-weight: 300; }

div {
  width: auto;
  height: auto;
  margin: 0 auto; }

a {
  text-decoration: underline;
  color: #000;
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  a:hover {
    text-decoration: none;
    color: #000; }

.subtitle, .event-topics h3 {
  font-size: 1.85714em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }
  @media all and (max-width: 1180px) {
    .subtitle, .event-topics h3 {
      font-size: 1.78571em; } }
  @media all and (max-width: 940px) {
    .subtitle, .event-topics h3 {
      font-size: 1.71429em; } }
  @media all and (max-width: 780px) {
    .subtitle, .event-topics h3 {
      font-size: 1.57143em; } }
  @media all and (max-width: 480px) {
    .subtitle, .event-topics h3 {
      font-size: 1.5em; } }

p.no-content-display {
  padding: 0 60px; }

/* 4. Main Container */
.container-page {
  text-align: left;
  overflow: hidden; }
  .container-page .container {
    max-width: 1180px; }
    @media all and (max-width: 1180px) {
      .container-page .container {
        width: 98%; } }

/* 5. Header */
.header {
  height: 1002px;
  background: #888 url("images/background-header.jpg") 50% 0 no-repeat fixed;
  background-attachment: fixed;
  color: #fff;
  z-index: 1;
  -webkit-clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%);
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 80%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media all and (max-width: 940px) {
    .header {
      height: auto;
      background-attachment: scroll; } }
  .header .container {
    padding: 60px;
    position: relative;
    min-height: 665px; }
  .header div.mt-menu {
    opacity: .9;
    padding: 15px 0;
    float: left;
    width: 100%;
    z-index: 9999;
    position: relative; }
  .header div.menu ul, .header ul.menu {
    margin: 0 auto;
    max-width: 1180px; }
  .header ul.menu, .header ul, .header div.menu ul {
    list-style-type: none;
    padding: 0 45px; }
    .header ul.menu li, .header ul li, .header div.menu ul li {
      float: left; }
      .header ul.menu li.current_page_item a, .header ul li.current_page_item a, .header div.menu ul li.current_page_item a {
        color: #000; }
      .header ul.menu li.menu-item-has-children, .header ul.menu li.page_item_has_children, .header ul li.menu-item-has-children, .header ul li.page_item_has_children, .header div.menu ul li.menu-item-has-children, .header div.menu ul li.page_item_has_children {
        position: relative; }
        .header ul.menu li.menu-item-has-children ul, .header ul.menu li.page_item_has_children ul, .header ul li.menu-item-has-children ul, .header ul li.page_item_has_children ul, .header div.menu ul li.menu-item-has-children ul, .header div.menu ul li.page_item_has_children ul {
          list-style-type: none; }
        .header ul.menu li.menu-item-has-children li, .header ul.menu li.page_item_has_children li, .header ul li.menu-item-has-children li, .header ul li.page_item_has_children li, .header div.menu ul li.menu-item-has-children li, .header div.menu ul li.page_item_has_children li {
          float: none; }
        .header ul.menu li.menu-item-has-children:hover ul.sub-menu, .header ul.menu li.menu-item-has-children:hover ul.children, .header ul.menu li.page_item_has_children:hover ul.sub-menu, .header ul.menu li.page_item_has_children:hover ul.children, .header ul li.menu-item-has-children:hover ul.sub-menu, .header ul li.menu-item-has-children:hover ul.children, .header ul li.page_item_has_children:hover ul.sub-menu, .header ul li.page_item_has_children:hover ul.children, .header div.menu ul li.menu-item-has-children:hover ul.sub-menu, .header div.menu ul li.menu-item-has-children:hover ul.children, .header div.menu ul li.page_item_has_children:hover ul.sub-menu, .header div.menu ul li.page_item_has_children:hover ul.children {
          display: block; }
      .header ul.menu li a, .header ul li a, .header div.menu ul li a {
        font-size: 1.14286em;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        padding: 0 15px;
        line-height: 1.8em; }
        .header ul.menu li a:hover, .header ul li a:hover, .header div.menu ul li a:hover {
          color: #000; }
    .header ul.menu ul.sub-menu, .header ul.menu ul.children, .header ul ul.sub-menu, .header ul ul.children, .header div.menu ul ul.sub-menu, .header div.menu ul ul.children {
      display: none;
      position: absolute;
      padding: 0;
      padding-top: 10px; }
      .header ul.menu ul.sub-menu li a, .header ul.menu ul.children li a, .header ul ul.sub-menu li a, .header ul ul.children li a, .header div.menu ul ul.sub-menu li a, .header div.menu ul ul.children li a {
        display: block;
        padding: 10px 15px; }
  .header h1 {
    padding-top: 100px;
    margin-bottom: 0; }
  .header .subtitle {
    margin-bottom: 80px; }
  .header a {
    text-decoration: none;
    color: #fff; }

.when, .where, .register-now {
  font-size: 1.28571em;
  font-weight: 300;
  position: absolute; }
  @media all and (max-width: 940px) {
    .when, .where, .register-now {
      position: static;
      margin-top: 50px; } }
  .when span, .where span, .register-now span {
    font-size: 1.33333em; }

.where {
  bottom: 90px; }
  @media all and (max-width: 940px) {
    .where {
      bottom: none; } }

@media all and (max-width: 940px) {
  .when, .where {
    width: 100%; } }
.when div, .where div {
  float: left;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 5px; }
.when .icon-holder, .where .icon-holder {
  width: 64px;
  padding: 14px 0;
  text-align: center;
  font-size: 1.5em;
  margin-right: 10px;
  margin-top: 10px; }
.when p, .where p {
  margin-bottom: 0;
  line-height: 1.2em; }
.when strong, .where strong {
  font-weight: bold;
  text-transform: uppercase; }

.register-now {
  bottom: 90px;
  right: 0;
  text-align: right; }
  @media all and (max-width: 1180px) {
    .register-now {
      text-align: left; } }
  .register-now a.button {
    display: inline-block;
    font-size: 1.5em; }
    @media all and (max-width: 480px) {
      .register-now a.button {
        text-align: center;
        font-size: 1.33333em;
        padding: 0 26px;
        line-height: 50px; } }

.button {
  padding: 0 46px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  line-height: 60px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif; }
  .button:hover {
    background: none;
    color: #fff; }

.button, .form .wpcf7-mail-sent-ok, .price div.active, .price div:hover {
  border: 3px solid; }

/* 6. Topics, single blog page & .topics */
.single-page, .event-topics {
  position: relative;
  z-index: 10; }
  .single-page .container, .event-topics .container {
    background: #fff;
    padding: 60px; }

.event-topics {
  margin-top: -338px; }
  @media all and (max-width: 940px) {
    .event-topics {
      margin-top: 0; } }
  .event-topics .container {
    min-height: 340px; }
    .event-topics .container div {
      width: 100%;
      padding-right: 50px;
      margin-top: 30px;
      float: left; }
      @media all and (max-width: 780px) {
        .event-topics .container div {
          width: 100%;
		  color: #000;
          padding-right: 0; } }
      .event-topics .container div h4, .event-topics .container div .fa {
        margin-bottom: 20px; }
        @media all and (max-width: 780px) {
          .event-topics .container div h4, .event-topics .container div .fa {
            margin-bottom: 10px; } }
      .event-topics .container div h4 {
        font-size: 1.28571em;
        font-weight: 300; }
      .event-topics .container div p {
        font-size: 1em; }
  .event-topics p {
    color: #888;
    font-size: 1.28571em; }

.event-speakers, .schedule, .why, .registration, .sponsors {
  margin-bottom: 60px; }

.event-speakers h2, .event-speakers .subtitle, .schedule h2, .schedule .subtitle {
  padding: 0 60px;
  margin-bottom: 0; }
.event-speakers .subtitle, .schedule .subtitle {
  margin-bottom: 50px; }

/* 7. Speakers */
.featured img {
  float: left;
  width: 100%; }
.featured h3, .featured .title {
  line-height: 1.1em;
  font-weight: 300; }
.featured h3 {
  font-size: 2.57143em;
  margin-bottom: 20px; }
  @media all and (max-width: 1180px) {
    .featured h3 {
      font-size: 2.28571em; } }
.featured .title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.28571em;
  margin-bottom: 40px; }
  @media all and (max-width: 1180px) {
    .featured .title {
      font-size: 1.21429em;
      margin-bottom: 20px; } }
.featured p {
  font-size: 1.14286em; }
  @media all and (max-width: 1180px) {
    .featured p {
      font-size: 1em; } }
.featured div {
  float: left;
  width: 50%;
  padding: 20px 40px;
  color: #fff;
  font-weight: 300; }
  @media all and (max-width: 980px) {
    .featured div {
      width: 100%; } }
  .featured div.image {
    padding: 0; }
  .featured div a {
    color: #fff; }

.speaker {
  width: 25%;
  float: left;
  position: relative;
  cursor: pointer; }
  @media all and (max-width: 980px) {
    .speaker {
      width: 33.333%; } }
  @media all and (max-width: 780px) {
    .speaker {
      width: 50%; } }
  .speaker img {
    float: left;
    width: 100%;
    height: auto; }
  .speaker div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    padding: 30px;
    display: none;
    color: #fff; }
  .speaker h3 {
    font-size: 2.57143em;
    font-weight: 300;
    line-height: 1.1em; }
    @media all and (max-width: 780px) {
      .speaker h3 {
        font-size: 1.71429em; } }
  .speaker p {
    margin-bottom: 0; }
    .speaker p:last-child {
      margin-top: 6px; }
  .speaker strong {
    font-size: 1.28571em;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    display: inline-block; }
    @media all and (max-width: 780px) {
      .speaker strong {
        font-size: 1.14286em; } }
    .speaker strong:before {
      content: '';
      width: 30px;
      height: 5px;
      background: #fff;
      display: block;
      margin-bottom: 10px; }
  .speaker a {
    color: #fff;
    margin-right: 10px;
    opacity: .6; }
    .speaker a:hover {
      opacity: 1; }

/* 8. Schedule */
.schedule ul {
  list-style-type: none; }
  .schedule ul li {
    float: left;
    background-color: #f0f0f0;
    width: 33.333%;
    max-width: 290px; }
    .schedule ul li a {
      font-weight: bold;
      text-decoration: none;
      font-size: 1.71429em;
      font-family: "Roboto Condensed", sans-serif;
      line-height: 50px;
      display: block;
      padding: 0 30px; }
      @media all and (max-width: 780px) {
        .schedule ul li a {
          font-size: 1.28571em;
          padding: 0 20px;
          line-height: 40px; } }
.schedule .day {
  padding: 46px 20px;
  border: 3px solid #f0f0f0; }

.idTabs {
  margin-bottom: 10px; }
  .idTabs li, .idTabs li.active {
    padding: 0;
    margin: 0; }
  .idTabs li {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .idTabs li.active {
      color: #fff; }
      .idTabs li.active a {
        color: #fff; }
      .idTabs li.active:hover {
        color: #fff; }

.event.extend .event-time span, .event.extended .event-time span {
  width: 31px;
  height: 31px;
  top: 7px;
  right: -16px;
  line-height: 28px;
  cursor: pointer; }
.event:last-child .event-info div {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0; }
.event .event-time, .event .event-info {
  float: left; }
.event .event-time {
  width: 25.57319%;
  text-align: right;
  padding-right: 33px;
  position: relative; }
  .event .event-time span {
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    top: 17px;
    right: -6px;
    color: #fff;
    text-align: center; }
.event .event-time, .event .event-info h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.71429em;
  font-weight: 300;
  line-height: 1.82em; }
  @media all and (max-width: 780px) {
    .event .event-time, .event .event-info h4 {
      font-size: 1.28571em; } }
.event .event-info {
  width: 74.42681%;
  padding-left: 57px;
  border-left: 1px solid #f0f0f0; }
  .event .event-info h4 {
    margin-bottom: 0; }
    @media all and (max-width: 780px) {
      .event .event-info h4 {
        font-size: 1.57143em; } }
    .event .event-info h4 a {
      text-decoration: none; }
  .event .event-info div {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding-bottom: 20px; }
  .event .event-info img {
    float: right;
    padding: 10px; }

.event-speaker {
  text-transform: uppercase;
  font-size: 1.28571em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: normal;
  font-weight: 300;
  margin-bottom: 60px; }
  .event-speaker strong {
    text-transform: none;
    font-size: 1.33333em;
    font-weight: bold; }
    @media all and (max-width: 780px) {
      .event-speaker strong {
        font-size: 1.22222em; } }

.why {
  background: #000 url("images/background-why.jpg") no-repeat 50% 0 fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("images/background-why.jpg") no-repeat 50% 0 fixed;
  /* Saf4+, Chrome */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-why.jpg") no-repeat 50% 0 fixed;
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-why.jpg") no-repeat 50% 0 fixed;
  /* FF3.6+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-why.jpg") no-repeat 50% 0 fixed;
  /* IE10 */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-why.jpg") no-repeat 50% 0 fixed;
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-why.jpg") no-repeat 50% 0 fixed;
  /* W3C */
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .why .container {
    padding: 48px 0; }

/* 9. Testimonials */
.format-quote, .category-post-format-quote, .post_format-post-format-quote {
  background: inherit; }

.testimonials {
  background-color: #fff;
  color: #888;
  padding: 70px 110px;
  text-align: center;
  position: relative; }
  .testimonials h4 {
    font-size: 1.85714em;
    text-transform: uppercase;
    color: #000;
    font-weight: 300;
    margin-bottom: 35px;
    background: url("images/quote.png") top center no-repeat;
    padding: 25px 0 10px; }
  .testimonials blockquote {
    font-size: 1.28571em;
    font-style: italic; }
  .testimonials cite {
    display: block;
    font-style: normal;
    font-size: 0.77778em;
    margin-top: 20px;
    font-family: "Roboto Condensed", sans-serif; }
    .testimonials cite span {
      text-transform: uppercase;
      color: #000; }
  .testimonials ul.flex-direction-nav {
    list-style-type: none; }
    .testimonials ul.flex-direction-nav .flex-prev, .testimonials ul.flex-direction-nav .flex-next {
      display: block;
      position: absolute;
      width: 64px;
      color: #fff;
      font-size: 1.9em;
      padding: 14px 0;
      top: 50%;
      margin-top: -32px; }
      .testimonials ul.flex-direction-nav .flex-prev:hover, .testimonials ul.flex-direction-nav .flex-next:hover {
        opacity: .94; }
    .testimonials ul.flex-direction-nav .flex-prev {
      left: -10px; }
    .testimonials ul.flex-direction-nav .flex-next {
      right: -10px; }

.bullets {
  padding: 0 30px;
  margin-top: 70px; }
  .bullets h3, .bullets h4 {
    font-size: 1.71429em;
    font-weight: 300; }
  .bullets h3 {
    text-transform: uppercase;
    padding: 0 30px; }
    @media all and (max-width: 780px) {
      .bullets h3 {
        padding: 0; } }
  .bullets div {
    padding: 0 30px;
    width: 50%;
    min-height: 140px;
    float: left; }
    @media all and (max-width: 780px) {
      .bullets div {
        width: 100%;
        padding: 0; } }

/* 10. Registration & Sponsors */
.registration .container, .sponsors .container {
  padding: 0 60px; }
.registration h2, .sponsors h2 {
  margin-bottom: 0; }

.registration .desc {
  font-size: 1.21429em;
  line-height: 1.2em;
  color: #888; }
.registration .subtitle, .registration .desc {
  margin-bottom: 40px; }
.registration h3 {
  font-size: 1.85714em;
  font-weight: 300; }

.form, .price {
  float: left;
  width: 50%; }
  @media all and (max-width: 1180px) {
    .form, .price {
      width: 100%; } }

.form {
  padding-right: 15px; }
  @media all and (max-width: 1180px) {
    .form {
      padding: 0;
      margin-bottom: 20px; } }

.form p {
  color: #888;
  line-height: 1.6em;
  margin-bottom: 8px; }
.form span.wpcf7-not-valid-tip {
  color: #ea0001;
  margin: 0.2em 0; }
.form .wpcf7-response-output {
  padding: 10px;
  margin: 0.2em 0; }
.form .wpcf7-validation-errors {
  background: #fef0f0;
  color: #ea0001;
  border: 3px solid #f8b2b2; }
.form input, .form textarea, .form select {
  width: 100%;
  display: block;
  border: 3px solid #f0f0f0;
  background-color: #f0f0f0;
  padding: 10px;
  height: 52px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #000;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .form input:focus, .form input:hover, .form textarea:focus, .form textarea:hover, .form select:focus, .form select:hover {
    background-color: #fff; }
.form textarea {
  max-height: 140px; }
.form button, .form input.wpcf7-submit {
  font-size: 1.71429em;
  color: #fff;
  width: 100%;
  height: 81px;
  font-family: "Roboto Condensed", sans-serif;
  cursor: pointer;
  margin-bottom: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .form button:hover, .form input.wpcf7-submit:hover {
    background: #fff;
    color: #000; }

.price {
  padding-left: 15px; }
  @media all and (max-width: 1180px) {
    .price {
      padding: 0; } }
  .price h4 {
    font-size: 1.78571em;
    font-weight: bold;
    margin-top: 20px;
    padding-right: 25px; }
  .price p {
    color: #888;
    margin-right: 25px; }
  .price div {
    border: 3px solid #f0f0f0;
    position: relative;
    height: 160px;
    cursor: pointer;
    margin-bottom: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media all and (max-width: 640px) {
      .price div {
        height: auto;
        padding: 10px; } }
    .price div:last-child {
      margin-bottom: 0; }
    .price div .amount {
      float: left;
      height: 160px;
      width: 160px;
      margin: -3px 25px 0 -3px;
      color: #fff;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 3.42857em;
      font-weight: bold;
      line-height: 160px;
      text-align: center; }
      @media all and (max-width: 640px) {
        .price div .amount {
          height: auto;
          width: auto;
          margin: 0;
          float: none;
          line-height: 1;
          text-align: left;
          padding: 5px 10px; } }

.sponsors .container {
  position: relative; }
.sponsors .subtitle {
  margin-bottom: 90px; }
  .sponsors .subtitle a {
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    line-height: 1em; }
    .sponsors .subtitle a:hover {
      text-decoration: none; }
.sponsors .slides {
  border: 3px solid #f0f0f0;
  padding: 60px;
  position: relative; }
.sponsors ul {
  list-style-type: none; }
  .sponsors ul li {
    display: inline-block;
    text-align: center; }
.sponsors .flex-prev, .sponsors .flex-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  line-height: 70px;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 1.9em; }
  .sponsors .flex-prev:hover, .sponsors .flex-next:hover {
    background-color: #888; }
.sponsors .flex-prev {
  left: -32px; }
.sponsors .flex-next {
  right: -32px; }

.location h2 {
  margin-bottom: 0; }
.location h2, .location .subtitle {
  padding: 0 60px; }

.location {
  padding-top: 124px;
  position: relative;
  background: #000 url("images/background-location.jpg") no-repeat 50% 0 fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("images/background-location.jpg") no-repeat 50% 0 fixed;
  /* Saf4+, Chrome */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-location.jpg") no-repeat 50% 0 fixed;
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-location.jpg") no-repeat 50% 0 fixed;
  /* FF3.6+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-location.jpg") no-repeat 50% 0 fixed;
  /* IE10 */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-location.jpg") no-repeat 50% 0 fixed;
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/background-location.jpg") no-repeat 50% 0 fixed;
  /* W3C */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .location .container {
    z-index: 10;
    position: relative; }
  .location h2, .location .subtitle {
    color: #fff; }

.info {
  background-color: #fff;
  padding: 60px;
  min-height: 600px;
  margin-top: 80px;
  z-index: 2; }
  .info p:last-child {
    margin-bottom: 0; }

.maps, .address {
  float: left;
  width: 50%; }
  @media all and (max-width: 880px) {
    .maps, .address {
      width: 100%;
      margin-bottom: 20px; } }

.maps .images, .maps #map_canvas {
  background-color: #f0f0f0;
  border: 3px solid #f0f0f0; }
.maps .images {
  margin-bottom: 15px; }
.maps img {
  display: block;
  width: 100%; }

#map_canvas {
  height: 328px; }

.address {
  color: #888;
  padding-left: 25px; }
  @media all and (max-width: 880px) {
    .address {
      padding-left: 0; } }
  .address h5, .address h4 {
    font-weight: 300;
    color: #000; }
  .address h4 {
    font-size: 1.71429em;
    margin-bottom: 40px; }
  .address h5 {
    font-size: 1.28571em;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .address h5, .address h4, .address p {
    line-height: 1.2em; }
  .address p {
    font-size: 1em; }

.venue {
  margin-bottom: 15px; }
  .venue strong {
    font-weight: normal; }
  .venue p {
    margin-bottom: 5px; }

.home .social {
  -webkit-clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0% 0%);
  clip-path: polygon(0% 100%, 100% 100%, 100% 40%, 0% 0%); }

.social {
  background-color: #fff;
  color: #fff;
  margin-top: -560px;
  padding-top: 500px;
  position: relative;
  z-index: 5; }
  .social .container {
    max-width: 100%;
    padding-top: 114px;
    padding-bottom: 64px; }
    @media all and (max-width: 1180px) {
      .social .container {
        width: 100%; } }
  .social div.social-div {
    padding: 0 60px;
    max-width: 1180px; }
    .social div.social-div form {
      float: left;
      width: 280px; }
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
      .social div.social-div form {
        width: 288px; } }
  .social h2 {
    margin-bottom: 0; }
  .social .subtitle {
    margin-bottom: 20px; }
  .social input, .social button, .social a {
    float: left;
    height: 60px;
    line-height: 60px; }
  .social input, .social button {
    border: none; }
  .social input {
    padding: 10px 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px; }
  .social button, .social input.button {
    cursor: pointer; }
  .social button, .social a, .social input.button {
    width: 60px;
    text-align: center;
    color: #fff;
    background-color: #000;
    font-size: 24px; }
  .social a, .social input.button {
    margin-right: 1px; }

#mc_embed_signup {
  padding: 0;
  float: left; }
  #mc_embed_signup label {
    display: none; }
  #mc_embed_signup .clear input {
    padding: 0;
    font-weight: normal; }
  #mc_embed_signup div {
    padding: 0; }
  #mc_embed_signup .mc-field-group, #mc_embed_signup .clear {
    float: left; }

/* 11. Footer Section */
.footer {
  font-family: "Roboto Condensed", sans-serif; }
  .footer .container {
    padding: 40px 0;
    text-align: center; }
  .footer p {
    font-size: 1.28571em;
    color: #010101;
    font-weight: 300; }
  .footer a {
    text-decoration: none; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999; }

.contact-form {
  padding: 50px 72px 44px;
  width: 60%;
  max-width: 675px;
  border: 3px solid #f0f0f0;
  background-color: #fff;
  text-align: left;
  margin-top: 4%;
  position: relative;
  font-family: "Roboto Condensed", sans-serif; }
  @media all and (max-width: 980px) {
    .contact-form {
      width: 96%;
      max-width: none;
      padding: 25px; } }
  @media all and (max-width: 640px) {
    .contact-form {
      width: 98%;
      max-width: none;
      padding: 20px; } }
  .contact-form h3 {
    font-size: 5.14286em;
    font-weight: 300;
    margin-bottom: 0; }
    @media all and (max-width: 980px) {
      .contact-form h3 {
        font-size: 4em; } }
    @media all and (max-width: 640px) {
      .contact-form h3 {
        font-size: 2.57143em; } }
  .contact-form p.subtitle {
    font-size: 1.71429em;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 45px;
    /*
    &.error, &.message {
      text-transform: none; //reset
      font-size: em(14px, 14px); //reset
      margin: 0; //reset
      margin-top: $default-spacing * .7;
      font-family: $default-font; //reset
    }

    &.error {

      &.active {
        padding: $default-spacing;
        background: #fef0f0;
        color: #ea0001;
        border: 3px solid #f8b2b2;
      }
    }
    */ }
    @media all and (max-width: 980px) {
      .contact-form p.subtitle {
        font-size: 1.42857em; } }
    @media all and (max-width: 640px) {
      .contact-form p.subtitle {
        font-size: 1.28571em; } }
  .contact-form .form {
    float: none;
    width: 100%;
    padding-right: 0; }
  .contact-form input, .contact-form textarea {
    margin-bottom: 7px; }
    .contact-form input.error, .contact-form textarea.error {
      border: 3px solid #f8b2b2; }
  .contact-form textarea {
    height: 220px; }
    @media all and (max-width: 640px) {
      .contact-form textarea {
        height: 150px; } }
  .contact-form a {
    position: absolute;
    top: 18px;
    right: 18px; }
    .contact-form a:hover {
      opacity: .5; }

.back-to-top {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 99; }
  .back-to-top .container {
    position: relative;
    max-width: 1180px; }
  .back-to-top a {
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .back-to-top a:hover {
      bottom: -6px; }

.anchor {
  display: block;
  height: 0px; }

.single-page {
  margin-top: -600px; }

.single-page-social {
  padding-top: 0;
  margin-top: -50px;
  background-color: #fff;
  color: #fff;
  position: relative;
  z-index: 5; }
  .single-page-social .container {
    padding-top: 114px;
    padding-bottom: 64px; }
    @media all and (max-width: 1180px) {
      .single-page-social .container {
        width: 100%; } }

.page.type-page, .page .type-post, .page .type-speakers, .page .type-topics, .page .type-events, .single-post.type-page, .single-post .type-post, .single-post .type-speakers, .single-post .type-topics, .single-post .type-events, .single.type-page, .single .type-post, .single .type-speakers, .single .type-topics, .single .type-events, .category.type-page, .category .type-post, .category .type-speakers, .category .type-topics, .category .type-events, .search.type-page, .search .type-post, .search .type-speakers, .search .type-topics, .search .type-events, .archive.type-page, .archive .type-post, .archive .type-speakers, .archive .type-topics, .archive .type-events, .blog.type-page, .blog .type-post, .blog .type-speakers, .blog .type-topics, .blog .type-events {
  margin-bottom: 20px; }
  .page.type-page header, .page .type-post header, .page .type-speakers header, .page .type-topics header, .page .type-events header, .single-post.type-page header, .single-post .type-post header, .single-post .type-speakers header, .single-post .type-topics header, .single-post .type-events header, .single.type-page header, .single .type-post header, .single .type-speakers header, .single .type-topics header, .single .type-events header, .category.type-page header, .category .type-post header, .category .type-speakers header, .category .type-topics header, .category .type-events header, .search.type-page header, .search .type-post header, .search .type-speakers header, .search .type-topics header, .search .type-events header, .archive.type-page header, .archive .type-post header, .archive .type-speakers header, .archive .type-topics header, .archive .type-events header, .blog.type-page header, .blog .type-post header, .blog .type-speakers header, .blog .type-topics header, .blog .type-events header {
    margin-bottom: 40px; }
  .page.type-page .entry-title, .page.type-page h2, .page .type-post .entry-title, .page .type-post h2, .page .type-speakers .entry-title, .page .type-speakers h2, .page .type-topics .entry-title, .page .type-topics h2, .page .type-events .entry-title, .page .type-events h2, .single-post.type-page .entry-title, .single-post.type-page h2, .single-post .type-post .entry-title, .single-post .type-post h2, .single-post .type-speakers .entry-title, .single-post .type-speakers h2, .single-post .type-topics .entry-title, .single-post .type-topics h2, .single-post .type-events .entry-title, .single-post .type-events h2, .single.type-page .entry-title, .single.type-page h2, .single .type-post .entry-title, .single .type-post h2, .single .type-speakers .entry-title, .single .type-speakers h2, .single .type-topics .entry-title, .single .type-topics h2, .single .type-events .entry-title, .single .type-events h2, .category.type-page .entry-title, .category.type-page h2, .category .type-post .entry-title, .category .type-post h2, .category .type-speakers .entry-title, .category .type-speakers h2, .category .type-topics .entry-title, .category .type-topics h2, .category .type-events .entry-title, .category .type-events h2, .search.type-page .entry-title, .search.type-page h2, .search .type-post .entry-title, .search .type-post h2, .search .type-speakers .entry-title, .search .type-speakers h2, .search .type-topics .entry-title, .search .type-topics h2, .search .type-events .entry-title, .search .type-events h2, .archive.type-page .entry-title, .archive.type-page h2, .archive .type-post .entry-title, .archive .type-post h2, .archive .type-speakers .entry-title, .archive .type-speakers h2, .archive .type-topics .entry-title, .archive .type-topics h2, .archive .type-events .entry-title, .archive .type-events h2, .blog.type-page .entry-title, .blog.type-page h2, .blog .type-post .entry-title, .blog .type-post h2, .blog .type-speakers .entry-title, .blog .type-speakers h2, .blog .type-topics .entry-title, .blog .type-topics h2, .blog .type-events .entry-title, .blog .type-events h2 {
    font-size: 26px;
    margin-bottom: 0; }
    .page.type-page .entry-title a, .page.type-page h2 a, .page .type-post .entry-title a, .page .type-post h2 a, .page .type-speakers .entry-title a, .page .type-speakers h2 a, .page .type-topics .entry-title a, .page .type-topics h2 a, .page .type-events .entry-title a, .page .type-events h2 a, .single-post.type-page .entry-title a, .single-post.type-page h2 a, .single-post .type-post .entry-title a, .single-post .type-post h2 a, .single-post .type-speakers .entry-title a, .single-post .type-speakers h2 a, .single-post .type-topics .entry-title a, .single-post .type-topics h2 a, .single-post .type-events .entry-title a, .single-post .type-events h2 a, .single.type-page .entry-title a, .single.type-page h2 a, .single .type-post .entry-title a, .single .type-post h2 a, .single .type-speakers .entry-title a, .single .type-speakers h2 a, .single .type-topics .entry-title a, .single .type-topics h2 a, .single .type-events .entry-title a, .single .type-events h2 a, .category.type-page .entry-title a, .category.type-page h2 a, .category .type-post .entry-title a, .category .type-post h2 a, .category .type-speakers .entry-title a, .category .type-speakers h2 a, .category .type-topics .entry-title a, .category .type-topics h2 a, .category .type-events .entry-title a, .category .type-events h2 a, .search.type-page .entry-title a, .search.type-page h2 a, .search .type-post .entry-title a, .search .type-post h2 a, .search .type-speakers .entry-title a, .search .type-speakers h2 a, .search .type-topics .entry-title a, .search .type-topics h2 a, .search .type-events .entry-title a, .search .type-events h2 a, .archive.type-page .entry-title a, .archive.type-page h2 a, .archive .type-post .entry-title a, .archive .type-post h2 a, .archive .type-speakers .entry-title a, .archive .type-speakers h2 a, .archive .type-topics .entry-title a, .archive .type-topics h2 a, .archive .type-events .entry-title a, .archive .type-events h2 a, .blog.type-page .entry-title a, .blog.type-page h2 a, .blog .type-post .entry-title a, .blog .type-post h2 a, .blog .type-speakers .entry-title a, .blog .type-speakers h2 a, .blog .type-topics .entry-title a, .blog .type-topics h2 a, .blog .type-events .entry-title a, .blog .type-events h2 a {
      text-decoration: none; }
  .page.type-page p, .page.type-page ul, .page.type-page ol, .page .type-post p, .page .type-post ul, .page .type-post ol, .page .type-speakers p, .page .type-speakers ul, .page .type-speakers ol, .page .type-topics p, .page .type-topics ul, .page .type-topics ol, .page .type-events p, .page .type-events ul, .page .type-events ol, .single-post.type-page p, .single-post.type-page ul, .single-post.type-page ol, .single-post .type-post p, .single-post .type-post ul, .single-post .type-post ol, .single-post .type-speakers p, .single-post .type-speakers ul, .single-post .type-speakers ol, .single-post .type-topics p, .single-post .type-topics ul, .single-post .type-topics ol, .single-post .type-events p, .single-post .type-events ul, .single-post .type-events ol, .single.type-page p, .single.type-page ul, .single.type-page ol, .single .type-post p, .single .type-post ul, .single .type-post ol, .single .type-speakers p, .single .type-speakers ul, .single .type-speakers ol, .single .type-topics p, .single .type-topics ul, .single .type-topics ol, .single .type-events p, .single .type-events ul, .single .type-events ol, .category.type-page p, .category.type-page ul, .category.type-page ol, .category .type-post p, .category .type-post ul, .category .type-post ol, .category .type-speakers p, .category .type-speakers ul, .category .type-speakers ol, .category .type-topics p, .category .type-topics ul, .category .type-topics ol, .category .type-events p, .category .type-events ul, .category .type-events ol, .search.type-page p, .search.type-page ul, .search.type-page ol, .search .type-post p, .search .type-post ul, .search .type-post ol, .search .type-speakers p, .search .type-speakers ul, .search .type-speakers ol, .search .type-topics p, .search .type-topics ul, .search .type-topics ol, .search .type-events p, .search .type-events ul, .search .type-events ol, .archive.type-page p, .archive.type-page ul, .archive.type-page ol, .archive .type-post p, .archive .type-post ul, .archive .type-post ol, .archive .type-speakers p, .archive .type-speakers ul, .archive .type-speakers ol, .archive .type-topics p, .archive .type-topics ul, .archive .type-topics ol, .archive .type-events p, .archive .type-events ul, .archive .type-events ol, .blog.type-page p, .blog.type-page ul, .blog.type-page ol, .blog .type-post p, .blog .type-post ul, .blog .type-post ol, .blog .type-speakers p, .blog .type-speakers ul, .blog .type-speakers ol, .blog .type-topics p, .blog .type-topics ul, .blog .type-topics ol, .blog .type-events p, .blog .type-events ul, .blog .type-events ol {
    color: #888; }
  .page.type-page .post-meta, .page .type-post .post-meta, .page .type-speakers .post-meta, .page .type-topics .post-meta, .page .type-events .post-meta, .single-post.type-page .post-meta, .single-post .type-post .post-meta, .single-post .type-speakers .post-meta, .single-post .type-topics .post-meta, .single-post .type-events .post-meta, .single.type-page .post-meta, .single .type-post .post-meta, .single .type-speakers .post-meta, .single .type-topics .post-meta, .single .type-events .post-meta, .category.type-page .post-meta, .category .type-post .post-meta, .category .type-speakers .post-meta, .category .type-topics .post-meta, .category .type-events .post-meta, .search.type-page .post-meta, .search .type-post .post-meta, .search .type-speakers .post-meta, .search .type-topics .post-meta, .search .type-events .post-meta, .archive.type-page .post-meta, .archive .type-post .post-meta, .archive .type-speakers .post-meta, .archive .type-topics .post-meta, .archive .type-events .post-meta, .blog.type-page .post-meta, .blog .type-post .post-meta, .blog .type-speakers .post-meta, .blog .type-topics .post-meta, .blog .type-events .post-meta {
    list-style-type: none;
    margin-bottom: 40px; }
    .page.type-page .post-meta li, .page .type-post .post-meta li, .page .type-speakers .post-meta li, .page .type-topics .post-meta li, .page .type-events .post-meta li, .single-post.type-page .post-meta li, .single-post .type-post .post-meta li, .single-post .type-speakers .post-meta li, .single-post .type-topics .post-meta li, .single-post .type-events .post-meta li, .single.type-page .post-meta li, .single .type-post .post-meta li, .single .type-speakers .post-meta li, .single .type-topics .post-meta li, .single .type-events .post-meta li, .category.type-page .post-meta li, .category .type-post .post-meta li, .category .type-speakers .post-meta li, .category .type-topics .post-meta li, .category .type-events .post-meta li, .search.type-page .post-meta li, .search .type-post .post-meta li, .search .type-speakers .post-meta li, .search .type-topics .post-meta li, .search .type-events .post-meta li, .archive.type-page .post-meta li, .archive .type-post .post-meta li, .archive .type-speakers .post-meta li, .archive .type-topics .post-meta li, .archive .type-events .post-meta li, .blog.type-page .post-meta li, .blog .type-post .post-meta li, .blog .type-speakers .post-meta li, .blog .type-topics .post-meta li, .blog .type-events .post-meta li {
      float: left;
      margin-right: 15px; }
      .page.type-page .post-meta li i, .page .type-post .post-meta li i, .page .type-speakers .post-meta li i, .page .type-topics .post-meta li i, .page .type-events .post-meta li i, .single-post.type-page .post-meta li i, .single-post .type-post .post-meta li i, .single-post .type-speakers .post-meta li i, .single-post .type-topics .post-meta li i, .single-post .type-events .post-meta li i, .single.type-page .post-meta li i, .single .type-post .post-meta li i, .single .type-speakers .post-meta li i, .single .type-topics .post-meta li i, .single .type-events .post-meta li i, .category.type-page .post-meta li i, .category .type-post .post-meta li i, .category .type-speakers .post-meta li i, .category .type-topics .post-meta li i, .category .type-events .post-meta li i, .search.type-page .post-meta li i, .search .type-post .post-meta li i, .search .type-speakers .post-meta li i, .search .type-topics .post-meta li i, .search .type-events .post-meta li i, .archive.type-page .post-meta li i, .archive .type-post .post-meta li i, .archive .type-speakers .post-meta li i, .archive .type-topics .post-meta li i, .archive .type-events .post-meta li i, .blog.type-page .post-meta li i, .blog .type-post .post-meta li i, .blog .type-speakers .post-meta li i, .blog .type-topics .post-meta li i, .blog .type-events .post-meta li i {
        margin-right: 5px; }

.page .post h2, .page .type-post h2, .single-post .post h2, .single-post .type-post h2, .single .post h2, .single .type-post h2, .category .post h2, .category .type-post h2, .search .post h2, .search .type-post h2, .archive .post h2, .archive .type-post h2, .blog .post h2, .blog .type-post h2 {
  margin-bottom: 20px; }

.comments-area {
  margin: 20px 0; }
  .comments-area .comments-title {
    font-size: 24px;
    padding: 20px 0;
    border-top: 3px solid #f0f0f0;
    border-bottom: 3px solid #f0f0f0; }
    .comments-area .comments-title span {
      font-weight: bold; }
  .comments-area .commentlist, .comments-area ol {
    list-style-type: none; }
  .comments-area ol.children {
    margin-left: 20px;
    margin-top: 20px; }
  .comments-area .comment.depth-1 {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 20px;
    padding-bottom: 20px; }
    .comments-area .comment.depth-1 a {
      text-decoration: none; }
    .comments-area .comment.depth-1 cite {
      font-style: normal; }
    .comments-area .comment.depth-1 .comment-meta {
      margin-bottom: 20px; }
    .comments-area .comment.depth-1 img {
      float: left;
      margin-right: 25px; }
    .comments-area .comment.depth-1 .comment-body p, .comments-area .comment.depth-1 .comment-body .reply {
      margin-left: 75px; }
    .comments-area .comment.depth-1 .comment-body p {
      color: #888; }
    .comments-area .comment.depth-1 .comment-body .reply {
      font-size: 18px; }
  .comments-area .comment-respond {
    margin-top: 40px; }
    .comments-area .comment-respond h3 {
      font-size: 24px; }
  .comments-area label {
    display: block; }
  .comments-area .form-allowed-tags {
    color: #888;
    margin-bottom: 20px; }
  .comments-area input, .comments-area select, .comments-area textarea {
    border: 3px solid #f0f0f0;
    background-color: #f0f0f0;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .comments-area input:focus, .comments-area input:hover, .comments-area select:focus, .comments-area select:hover, .comments-area textarea:focus, .comments-area textarea:hover {
      background-color: #fff; }
  .comments-area textarea {
    min-height: 170px;
    width: 100%; }
  .comments-area .submit {
    font-size: 1.85714em;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;
    padding: 20px 40px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .comments-area .submit:hover {
      background: #fff;
      color: #000; }

.content-page {
  float: left;
  width: 72.45283%; }

.sidebar {
  float: right;
  width: 22.64151%; }

.single-page-social .mage_event_widget {
  float: left;
  padding-left: 0 !important;
  border-left: 0;
  padding-right: 15px;
  width: 20%; }
  .single-page-social .mage_event_widget p, .single-page-social .mage_event_widget a {
    color: #000; }

.mage_event_widget {
  margin-bottom: 50px;
  border-left: 2px solid;
  font-size: 1.14286em; }
  .mage_event_widget img, .mage_event_widget form, .mage_event_widget input, .mage_event_widget textarea, .mage_event_widget select {
    width: 100%; }
  .mage_event_widget .rsswidget img {
    width: auto; }
  .mage_event_widget ul {
    list-style-type: none; }
  .mage_event_widget a {
    text-decoration: none; }
  .mage_event_widget h4 {
    font-weight: bold;
    text-transform: uppercase; }
  .mage_event_widget ul.children {
    background-color: transparent; }
  .mage_event_widget.widget_archive, .mage_event_widget.widget_categories, .mage_event_widget.widget_meta, .mage_event_widget.widget_text, .mage_event_widget.widget_recent_comments, .mage_event_widget.widget_recent_entries, .mage_event_widget.widget_calendar, .mage_event_widget.widget_pages, .mage_event_widget.widget_rss, .mage_event_widget.widget_nav_menu {
    padding-left: 15px; }
  .mage_event_widget.widget_nav_menu ul.sub-menu {
    background-color: transparent !important;
    margin-bottom: 10px; }
  .mage_event_widget.widget_search {
    border-left: 0; }
    .mage_event_widget.widget_search label {
      display: block;
      font-size: 1em;
      margin-bottom: 10px; }
    .mage_event_widget.widget_search input#s, .mage_event_widget.widget_search input#searchsubmit {
      float: left;
      font-size: 1em;
      padding: 5px;
      font-family: "Roboto Condensed", sans-serif;
      height: 36px;
      width: auto;
      border: 2px solid; }
    .mage_event_widget.widget_search input#s {
      padding: 5px;
      color: #888;
      width: 50%;
      margin-right: 2px;
      width: auto; }
    .mage_event_widget.widget_search input#searchsubmit {
      color: #fff;
      cursor: pointer;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .mage_event_widget.widget_search input#searchsubmit:hover {
        background: #fff;
        color: #000; }

hr {
  height: 1px;
  border-top: 1px solid inherit; }

/*# sourceMappingURL=style.css.map */
